<%- include("../partials/header") %>
<% for (cohort of cohorts) { %>
<div class="card m-3 p-2">
    <div class="card-body">
        <div class="d-flex align-items-center mb-1">
            <img src="<%= cohort.logoUrl %>" class="rounded-circle" alt="..." width="60" height="60">
            <div class="ml-2"><h1 class="card-title mb-0"><%= cohort.name %></h1></div>
        </div>
    <p class="card-text"><%= cohort.members %></p>
    <a href="/cohorts/<%= cohort.id %>" class="btn btn-primary">Show cohort</a>
    </div>
</div>
<% } %>
<%- include("../partials/footer") %>